.custom-input {
  height: 96px;
  line-height: 18px;
  max-height: 96px;
  padding-bottom: 4px;
  padding-top: 11px;
  resize: none;
  background-color: #e5eaee;
  border: 1px solid #fff;
  color: #000;
  font-size: 16px;
  outline: none;
  padding: 7px 66px 7px 19px;
  transition: border-color 0.2s;
  width: 600px;
}
