.toast-message {
  color: #fff;
  font-size: 20px;
}

.Toastify__toast-container--top-right {
  top: 0;
  right: 0;
}

.Toastify__toast-container {
  width: 100%;
}

.Toastify__toast {
  border-radius: 0;
  height: 100vh;
}
